body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#name {
    text-align: center;
    color: blue;
}

.section {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.skills {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}