body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 20px;
}

h1 {
    color: blue;
    text-align: center;
    border-bottom: 2px solid black;
    
}

h2 {
    color: green;
}

p, li {
    font-size: 18px;
}